RewriteEngine On
RewriteBase /your_project_folder/

RewriteRule ^api/?$ Back-end/php/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ front-end/$1 [L]
